.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
  box-sizing: border-box;
  width: 50vw;
  padding: 10px 0 5px 15px;
  font-size: 24px;
  font-weight: 700;
  color:white;
  background-color: black;
  display: inline-block;
  cursor: pointer;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: rgb(99, 20, 2);
}
