.section {
  padding: 10px;
}

.table {
  margin: 20px;
  border: 1px solid lightgray ;
  display: flex;
  flex-direction: column;
}

.container {
  width: 90vw;
  margin: 0 auto 30px auto;
}

.header {
  font-size: 26px;
  font-weight: bold;
  padding: 10px 5px;
}

.row-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-weight: bold;
}

.row-no-hover {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.row:hover  {
  background-color: lightgrey;
}

.col {
  padding: 5px;
}

.col-s {
  width: 15vw;
}

.col-m {
  width: 20vw;
} 

.col-b {
  width: 35vw;
}

.align-right {
  text-align: right;
}

.label {
  padding: 10px;
  width: 13vw;
  font-weight: bold;
}

.field {
  padding: 10px;
  display: flex;
  align-items: center;
}

.cap-check {
  background-color: lightskyblue;
  width: 10vw;
  align-self: flex-end;
}

.value {
  display: inline-block;
  padding: 3px;
  height: 32px;
  width: 50vw;
  border: 1px solid lightsteelblue;
  box-sizing: border-box;
}
